# Merge experimental samples and analyze differences in fixed mutations

## Merge samples into a single df and store
 - To be run after generating allele frequencies using the variant_count.py and allele_freqs.py script

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import sample as random_sample

%matplotlib inline

In [14]:
strains = ['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','H1','H2','H3','H4','H5','H6','H7','H8','H9','H10']

#load first strain
alleles = pd.read_csv('/Users/chrisgraves/Documents/Yeast_data/Sequencing/saved_dfs/C1_freq.csv')
alleles['Treatment'] = 'C'
alleles['Strain'] = 1

#append remaining strains
for strain in strains[1:len(strains)]:
    strain_df = pd.read_csv('/Users/chrisgraves/Documents/Yeast_data/Sequencing/saved_dfs/'+strain+'_freq.csv')
    strain_df['Treatment'] = strain[0]
    if len(strain) ==2:
        strain_df['Strain'] = int(strain[1])
    elif len(strain) ==3:
        strain_df['Strain'] = int(strain[1:3])
    alleles = alleles.append(strain_df,ignore_index=True)
    
    
num_alleles = alleles.shape[0]/6
print('There are %d alleles' %num_alleles)
alleles.head()

There are 64499 alleles

,Chromosome,Position,Alt,Time,Ref,Is_repeat,Read_depth,Num_ref,Num_alt,Freq_ref,Freq_alt,Qual_ref,Qual_alt,Treatment,Strain
0,I,5068,ATTTTTTTTTTTTTTC,1,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
1,I,5068,ATTTTTTTTTTTTTTC,3,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
2,I,5068,ATTTTTTTTTTTTTTC,5,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
3,I,5068,ATTTTTTTTTTTTTTC,7,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
4,I,5068,ATTTTTTTTTTTTTTC,9,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1

In [6]:
#export dataframe of raw, unfiltered variants
alleles.to_csv('/Users/chrisgraves/Documents/Yeast_data/Sequencing/saved_dfs/combined_alleles.csv',index=False)

# Analyze fixed differences between strains

In [9]:
#import ancestor df

parent_df = pd.read_csv('/Users/chrisgraves/Documents/Yeast_data/Sequencing/saved_dfs/parent_df.csv')
parent_df.head()

,Chromosome,Position,Ref,Alt,Ref_count,Alt_count,Ref_freq,Alt_freq,N_calls
0,I,10,A,C,4,2,0.666667,0.333333,6
1,I,6736,CAAAAAAAAAAAAAAAAAAAT,CAAAAAAAAAAAAAAAAAAAAAT,0,10,0.000000,1.000000,10
2,I,12594,A,T,144,37,0.795580,0.204420,181
3,I,12690,A,T,130,66,0.663265,0.336735,196
4,I,19971,CT,CCTT,0,131,0.000000,1.000000,131

In [15]:
#determine fixed alleles in ancestor

fixed = parent_df[parent_df['Alt_freq'] > 0.9]
num_fixed = fixed.shape[0]
print('There are %d fixed alleles in ancestor' %num_fixed)
fixed.head()

There are 200 fixed alleles in ancestor

,Chromosome,Position,Ref,Alt,Ref_count,Alt_count,Ref_freq,Alt_freq,N_calls
1,I,6736,CAAAAAAAAAAAAAAAAAAAT,CAAAAAAAAAAAAAAAAAAAAAT,0,10,0.00,1.00,10
4,I,19971,CT,CCTT,0,131,0.00,1.00,131
7,I,25340,C,A,0,96,0.00,1.00,96
8,I,25488,G,A,1,24,0.04,0.96,25
11,I,25536,G,A,0,4,0.00,1.00,4

In [16]:
#remove fixed alleles from experimental samples
variant_groups = alleles.groupby(['Chromosome','Position','Alt'])

filtered_variants = alleles
for row in fixed.itertuples():
    chrom = row.Chromosome
    pos = row.Position
    alt = row.Alt
    try:
        var_group = variant_groups.get_group((chrom,pos,alt))
    except KeyError:
        var_group = pd.DataFrame(columns = ['Chromosome','Position','Ref','Alt','Ref_count','Alt_count','Ref_freq','Alt_freq','N_calls'])
    
    if var_group.shape[0] != 0:
        filtered_variants = filtered_variants[~((filtered_variants['Chromosome']==chrom)&(filtered_variants['Position']==pos)&(filtered_variants['Alt']==alt))]
        
        
new_num_alleles = filtered_variants.shape[0]/6
print('There are %d alleles, %d were removed by filter' %(new_num_alleles,num_alleles-new_num_alleles))

There are 60815 alleles, 3684 were removed by filter

In [18]:
filtered_variants.head()

,Chromosome,Position,Alt,Time,Ref,Is_repeat,Read_depth,Num_ref,Num_alt,Freq_ref,Freq_alt,Qual_ref,Qual_alt,Treatment,Strain
0,I,5068,ATTTTTTTTTTTTTTC,1,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
1,I,5068,ATTTTTTTTTTTTTTC,3,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
2,I,5068,ATTTTTTTTTTTTTTC,5,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
3,I,5068,ATTTTTTTTTTTTTTC,7,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1
4,I,5068,ATTTTTTTTTTTTTTC,9,ATTTTTTTTTTTTTC,1,NaN,NaN,0,NaN,0,NaN,NaN,C,1

In [24]:
#Check for fixed alleles that weren't observed in ancestor
fixed_alleles = filtered_variants.groupby(('Chromosome','Position','Alt')).filter(lambda x: x['Freq_alt'].sum()>110)
num_fixed = fixed_alleles.shape[0]/6
print('There are %d fixed alleles not observed in ancestor' %num_fixed)
fixed_alleles

There are 40 fixed alleles not observed in ancestor

,Chromosome,Position,Alt,Time,Ref,Is_repeat,Read_depth,Num_ref,Num_alt,Freq_ref,Freq_alt,Qual_ref,Qual_alt,Treatment,Strain
102,I,25497,A,1,G,0,6,0,6,0.000000,1.000000,0.000000,37.333333,C,1
103,I,25497,A,3,G,0,23,3,20,0.130435,0.869565,31.000000,32.350000,C,1
104,I,25497,A,5,G,0,23,1,22,0.043478,0.956522,31.000000,34.227273,C,1
105,I,25497,A,7,G,0,24,1,23,0.041667,0.958333,40.000000,30.478261,C,1
106,I,25497,A,9,G,0,16,0,16,0.000000,1.000000,0.000000,35.812500,C,1
107,I,25497,A,12,G,0,9,1,8,0.111111,0.888889,40.000000,34.000000,C,1
7074,VI,97864,CTTTTTTTTTTTTG,1,CTTTTTTTTTTG,1,18,0,12,0.000000,1.000000,0.000000,34.333333,C,1
7075,VI,97864,CTTTTTTTTTTTTG,3,CTTTTTTTTTTG,1,67,0,53,0.000000,1.000000,0.000000,33.245283,C,1
7076,VI,97864,CTTTTTTTTTTTTG,5,CTTTTTTTTTTG,1,57,0,43,0.000000,1.000000,0.000000,32.767442,C,1
7077,VI,97864,CTTTTTTTTTTTTG,7,CTTTTTTTTTTG,1,42,0,39,0.000000,1.000000,0.000000,34.307692,C,1
7078,VI,97864,CTTTTTTTTTTTTG,9,CTTTTTTTTTTG,1,57,2,39,0.048780,0.951220,37.000000,35.384615,C,1
7079,VI,97864,CTTTTTTTTTTTTG,12,CTTTTTTTTTTG,1,38,2,28,0.066667,0.933333,37.500000,34.857143,C,1
18540,I,25497,A,1,G,0,8,0,8,0.000000,1.000000,0.000000,38.375000,C,2
18541,I,25497,A,3,G,0,11,0,11,0.000000,1.000000,0.000000,25.909091,C,2
18542,I,25497,A,5,G,0,30,2,27,0.068966,0.931034,20.500000,33.703704,C,2
18543,I,25497,A,7,G,0,17,1,15,0.062500,0.937500,40.000000,35.200000,C,2
18544,I,25497,A,9,G,0,11,1,10,0.090909,0.909091,40.000000,27.300000,C,2
18545,I,25497,A,12,G,0,14,0,14,0.000000,1.000000,0.000000,28.857143,C,2
26250,VI,97864,CTTTTTTTTTTTTG,1,CTTTTTTTTTTG,1,14,0,12,0.000000,1.000000,0.000000,32.000000,C,2
26251,VI,97864,CTTTTTTTTTTTTG,3,CTTTTTTTTTTG,1,32,1,24,0.040000,0.960000,20.000000,33.416667,C,2
26252,VI,97864,CTTTTTTTTTTTTG,5,CTTTTTTTTTTG,1,52,0,39,0.000000,1.000000,0.000000,32.076923,C,2
26253,VI,97864,CTTTTTTTTTTTTG,7,CTTTTTTTTTTG,1,46,0,40,0.000000,1.000000,0.000000,35.400000,C,2
26254,VI,97864,CTTTTTTTTTTTTG,9,CTTTTTTTTTTG,1,25,2,13,0.095238,0.619048,39.000000,34.076923,C,2
26255,VI,97864,CTTTTTTTTTTTTG,12,CTTTTTTTTTTG,1,33,1,22,0.043478,0.956522,39.000000,32.954545,C,2
38712,I,25497,A,1,G,0,13,2,11,0.153846,0.846154,20.500000,36.272727,C,3
38713,I,25497,A,3,G,0,38,1,37,0.026316,0.973684,39.000000,36.297297,C,3
38714,I,25497,A,5,G,0,17,2,15,0.117647,0.882353,40.000000,38.733333,C,3
38715,I,25497,A,7,G,0,23,0,23,0.000000,1.000000,0.000000,32.869565,C,3
38716,I,25497,A,9,G,0,7,0,7,0.000000,1.000000,0.000000,39.000000,C,3
38717,I,25497,A,12,G,0,12,0,12,0.000000,1.000000,0.000000,33.416667,C,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336534,VI,97864,CTTTTTTTTTTTTG,1,CTTTTTTTTTTG,1,16,1,9,0.100000,0.900000,34.000000,32.777778,H,8
336535,VI,97864,CTTTTTTTTTTTTG,3,CTTTTTTTTTTG,1,32,2,25,0.074074,0.925926,38.000000,33.560000,H,8
336536,VI,97864,CTTTTTTTTTTTTG,5,CTTTTTTTTTTG,1,37,0,30,0.000000,1.000000,0.000000,33.033333,H,8
336537,VI,97864,CTTTTTTTTTTTTG,7,CTTTTTTTTTTG,1,24,0,19,0.000000,1.000000,0.000000,34.052632,H,8
336538,VI,97864,CTTTTTTTTTTTTG,9,CTTTTTTTTTTG,1,30,1,18,0.040000,0.720000,39.000000,36.833333,H,8
336539,VI,97864,CTTTTTTTTTTTTG,12,CTTTTTTTTTTG,1,28,0,22,0.000000,1.000000,0.000000,34.863636,H,8
349326,I,25497,A,1,G,0,4,1,3,0.250000,0.750000,2.000000,37.333333,H,9
349327,I,25497,A,3,G,0,16,0,16,0.000000,1.000000,0.000000,30.500000,H,9
349328,I,25497,A,5,G,0,26,2,24,0.076923,0.923077,37.000000,37.583333,H,9
349329,I,25497,A,7,G,0,14,0,13,0.000000,1.000000,0.000000,34.538462,H,9
349330,I,25497,A,9,G,0,5,0,5,0.000000,1.000000,0.000000,37.400000,H,9
349331,I,25497,A,12,G,0,11,0,11,0.000000,1.000000,0.000000,33.363636,H,9
356556,VI,97864,CTTTTTTTTTTTTG,1,CTTTTTTTTTTG,1,25,1,18,0.052632,0.947368,26.000000,33.777778,H,9
356557,VI,97864,CTTTTTTTTTTTTG,3,CTTTTTTTTTTG,1,43,0,31,0.000000,1.000000,0.000000,33.096774,H,9
356558,VI,97864,CTTTTTTTTTTTTG,5,CTTTTTTTTTTG,1,70,3,47,0.060000,0.940000,38.333333,35.191489,H,9
356559,VI,97864,CTTTTTTTTTTTTG,7,CTTTTTTTTTTG,1,29,0,24,0.000000,1.000000,0.000000,34.333333,H,9
356560,VI,97864,CTTTTTTTTTTTTG,9,CTTTTTTTTTTG,1,27,0,25,0.000000,1.000000,0.000000,34.040000,H,9
356561,VI,97864,CTTTTTTTTTTTTG,12,CTTTTTTTTTTG,1,33,0,27,0.000000,1.000000,0.000000,36.074074,H,9
368844,I,25497,A,1,G,0,11,2,9,0.181818,0.818182,36.500000,35.555556,H,10
368845,I,25497,A,3,G,0,24,1,22,0.043478,0.956522,19.000000,35.000000,H,10
368846,I,25497,A,5,G,0,11,2,9,0.181818,0.818182,36.500000,33.666667,H,10
368847,I,25497,A,7,G,0,10,0,9,0.000000,1.000000,0.000000,37.111111,H,10
368848,I,25497,A,9,G,0,8,0,8,0.000000,1.000000,0.000000,28.875000,H,10
368849,I,25497,A,12,G,0,9,0,9,0.000000,1.000000,0.000000,32.111111,H,10
375684,VI,97864,CTTTTTTTTTTTTG,1,CTTTTTTTTTTG,1,37,0,33,0.000000,1.000000,0.000000,32.090909,H,10
375685,VI,97864,CTTTTTTTTTTTTG,3,CTTTTTTTTTTG,1,83,0,62,0.000000,1.000000,0.000000,34.887097,H,10
375686,VI,97864,CTTTTTTTTTTTTG,5,CTTTTTTTTTTG,1,34,0,22,0.000000,1.000000,0.000000,30.954545,H,10
375687,VI,97864,CTTTTTTTTTTTTG,7,CTTTTTTTTTTG,1,38,0,27,0.000000,1.000000,0.000000,34.629630,H,10
375688,VI,97864,CTTTTTTTTTTTTG,9,CTTTTTTTTTTG,1,25,0,19,0.000000,1.000000,0.000000,32.631579,H,10
375689,VI,97864,CTTTTTTTTTTTTG,12,CTTTTTTTTTTG,1,26,1,20,0.047619,0.952381,37.000000,35.650000,H,10

There are two alleles that were fixed in all experimental samples but not identified as fixed in the ancestor

In [26]:
parent_df[(parent_df['Chromosome']=='I') & (parent_df['Position']==25497) & (parent_df['Alt']=='A')]

,Chromosome,Position,Ref,Alt,Ref_count,Alt_count,Ref_freq,Alt_freq,N_calls
9,I,25497,G,A,4,17,0.190476,0.809524,21

In [27]:
parent_df[(parent_df['Chromosome']=='VI') & (parent_df['Position']==97864) & (parent_df['Alt']=='CTTTTTTTTTTTTG')]

,Chromosome,Position,Ref,Alt,Ref_count,Alt_count,Ref_freq,Alt_freq,N_calls
282,VI,97864,CTTTTTTTTTTG,CTTTTTTTTTTTTG,0,32,0,0.727273,44

Both alleles are present in ancestor at high frequency, probably not observed at 100% frequency due to sequencing errors

## Identify and remove alleles present at high frequencies in all samples

In [92]:
#remove all alleles observed in parent strain
unfiltered = alleles.shape[0]/6
variant_groups = alleles.groupby(['Chromosome','Position','Alt'])

filtered_variants = alleles
for row in parent_df.itertuples():
    chrom = row.Chromosome
    pos = row.Position
    alt = row.Alt
    try:
        var_group = variant_groups.get_group((chrom,pos,alt))
    except KeyError:
        var_group = pd.DataFrame(columns = ['Chromosome','Position','Ref','Alt','Ref_count','Alt_count','Ref_freq','Alt_freq','N_calls'])
    
    if var_group.shape[0] != 0:
        filtered_variants = filtered_variants[~((filtered_variants['Chromosome']==chrom)&(filtered_variants['Position']==pos)&(filtered_variants['Alt']==alt))]
        
        
after_filter1 = filtered_variants.shape[0]/6
print('There are %d alleles, %d were removed by filter' %(after_filter1,unfiltered-after_filter1))

There are 53905 alleles, 10594 were removed by filter

In [95]:
#Reduce stringency on fixation criteria
fixed_alleles = filtered_variants.groupby(('Chromosome','Position','Alt')).filter(lambda x: x['Freq_alt'].sum()>40)
num_fixed = fixed_alleles.shape[0]/6
print('There are %d fixed alleles not fixed in ancestor' %num_fixed)

There are 189 fixed alleles not observed in ancestor

In [96]:
#Check alleles not observed in all strains
not_in_all = fixed_alleles.groupby(('Chromosome','Position','Alt')).filter(lambda x: len(x)!=120)
len(not_in_all.groupby(('Chromosome','Position','Alt')))

3

Only 3 of the high frequency alleles are not present in all time-points of all strains

In [97]:
#for those not present in all strains, check if they belong to only a small number of strains
for name, group in not_in_all.groupby(('Chromosome','Position','Alt')):
    print(float(len(group))/120)

0.9
0.9
0.65

In [98]:
not_in_all

,Chromosome,Position,Alt,Time,Ref,Is_repeat,Read_depth,Num_ref,Num_alt,Freq_ref,Freq_alt,Qual_ref,Qual_alt,Treatment,Strain
1434,II,221290,A,1,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,1
1435,II,221290,A,3,T,0,4,0,4,0.000000,1.000000,0.000000,34.250000,C,1
1436,II,221290,A,5,T,0,3,0,3,0.000000,1.000000,0.000000,35.000000,C,1
1437,II,221290,A,7,T,0,5,1,4,0.200000,0.800000,2.000000,38.250000,C,1
1438,II,221290,A,9,T,0,3,0,3,0.000000,1.000000,0.000000,36.666667,C,1
1439,II,221290,A,12,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,1
8676,VIII,21,CCA,1,ACA,0,3,0,3,0.000000,1.000000,0.000000,18.666667,C,1
8677,VIII,21,CCA,3,ACA,0,12,1,0,0.200000,0.000000,0.000000,18.666667,C,1
8678,VIII,21,CCA,5,ACA,0,17,0,0,0.000000,0.000000,0.000000,18.666667,C,1
8679,VIII,21,CCA,7,ACA,0,10,0,0,0.000000,0.000000,0.000000,18.666667,C,1
8680,VIII,21,CCA,9,ACA,0,13,0,0,0.000000,0.000000,0.000000,18.666667,C,1
8681,VIII,21,CCA,12,ACA,0,7,1,6,0.142857,0.857143,40.000000,18.500000,C,1
16680,XV,709007,G,1,A,0,3,1,2,0.333333,0.666667,40.000000,39.000000,C,1
16681,XV,709007,G,3,A,0,8,5,3,0.625000,0.375000,35.000000,19.000000,C,1
16682,XV,709007,G,5,A,0,11,3,8,0.272727,0.727273,37.666667,32.375000,C,1
16683,XV,709007,G,7,A,0,13,4,9,0.307692,0.692308,39.750000,26.444444,C,1
16684,XV,709007,G,9,A,0,13,2,11,0.153846,0.846154,26.000000,31.727273,C,1
16685,XV,709007,G,12,A,0,14,3,8,0.272727,0.727273,35.333333,35.125000,C,1
19836,II,221290,A,1,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,2
19837,II,221290,A,3,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,2
19838,II,221290,A,5,T,0,4,0,4,0.000000,1.000000,0.000000,35.750000,C,2
19839,II,221290,A,7,T,0,4,0,4,0.000000,1.000000,0.000000,35.000000,C,2
19840,II,221290,A,9,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,2
19841,II,221290,A,12,T,0,3,0,3,0.000000,1.000000,0.000000,35.000000,C,2
28086,VIII,21,CCA,1,ACA,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,2
28087,VIII,21,CCA,3,ACA,0,11,0,0,0.000000,0.000000,0.000000,37.000000,C,2
28088,VIII,21,CCA,5,ACA,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,2
28089,VIII,21,CCA,7,ACA,0,7,0,4,0.000000,0.571429,0.000000,27.000000,C,2
28090,VIII,21,CCA,9,ACA,0,8,0,0,0.000000,0.000000,0.000000,27.000000,C,2
28091,VIII,21,CCA,12,ACA,0,5,0,5,0.000000,1.000000,0.000000,28.400000,C,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358440,VIII,21,CCA,1,ACA,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,9
358441,VIII,21,CCA,3,ACA,0,5,2,3,0.400000,0.600000,20.000000,24.000000,H,9
358442,VIII,21,CCA,5,ACA,0,25,0,0,0.000000,0.000000,0.000000,24.000000,H,9
358443,VIII,21,CCA,7,ACA,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,9
358444,VIII,21,CCA,9,ACA,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,9
358445,VIII,21,CCA,12,ACA,0,4,0,4,0.000000,1.000000,0.000000,26.750000,H,9
366744,XV,709007,G,1,A,0,2,0,2,0.000000,1.000000,0.000000,34.000000,H,9
366745,XV,709007,G,3,A,0,10,4,6,0.400000,0.600000,38.750000,32.833333,H,9
366746,XV,709007,G,5,A,0,26,4,21,0.160000,0.840000,32.250000,31.857143,H,9
366747,XV,709007,G,7,A,0,13,1,12,0.076923,0.923077,39.000000,32.416667,H,9
366748,XV,709007,G,9,A,0,3,1,2,0.333333,0.666667,2.000000,33.500000,H,9
366749,XV,709007,G,12,A,0,4,2,2,0.500000,0.500000,35.500000,39.000000,H,9
370320,II,221290,A,1,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,10
370321,II,221290,A,3,T,0,3,0,3,0.000000,1.000000,0.000000,38.333333,H,10
370322,II,221290,A,5,T,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,10
370323,II,221290,A,7,T,0,4,0,4,0.000000,1.000000,0.000000,34.750000,H,10
370324,II,221290,A,9,T,0,3,0,3,0.000000,1.000000,0.000000,35.000000,H,10
370325,II,221290,A,12,T,0,3,0,3,0.000000,1.000000,0.000000,33.666667,H,10
377520,VIII,21,CCA,1,ACA,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,10
377521,VIII,21,CCA,3,ACA,0,11,1,0,0.142857,0.000000,0.000000,37.000000,H,10
377522,VIII,21,CCA,5,ACA,0,2,0,2,0.000000,1.000000,0.000000,35.000000,H,10
377523,VIII,21,CCA,7,ACA,0,11,2,0,0.400000,0.000000,0.000000,35.000000,H,10
377524,VIII,21,CCA,9,ACA,0,6,0,6,0.000000,1.000000,0.000000,15.666667,H,10
377525,VIII,21,CCA,12,ACA,0,6,0,0,0.000000,0.000000,0.000000,15.666667,H,10
385176,XV,709007,G,1,A,0,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,10
385177,XV,709007,G,3,A,0,16,4,12,0.250000,0.750000,39.000000,24.333333,H,10
385178,XV,709007,G,5,A,0,16,5,9,0.357143,0.642857,39.000000,32.333333,H,10
385179,XV,709007,G,7,A,0,13,4,9,0.307692,0.692308,37.750000,32.666667,H,10
385180,XV,709007,G,9,A,0,9,6,3,0.666667,0.333333,36.166667,37.333333,H,10
385181,XV,709007,G,12,A,0,7,3,4,0.428571,0.571429,31.666667,38.500000,H,10

In [101]:
#check random sets of high frequency, putatively fixed alleles to confirm that they are fixed across entire time-series

hf = fixed_alleles.groupby(('Chromosome','Position','Alt')).filter(lambda x: x['Freq_alt'].sum() < 100)
hf_groups = hf.groupby(('Chromosome','Position','Alt'))
rand_key = random_sample(hf_groups.indices.keys(),1)
rand_group = hf_groups.get_group(rand_key[0])
num_samples = rand_group.shape[0]
print('Found in %d of 120 samples' %num_samples)
rand_group

Found in 120 of 120 samples

,Chromosome,Position,Alt,Time,Ref,Is_repeat,Read_depth,Num_ref,Num_alt,Freq_ref,Freq_alt,Qual_ref,Qual_alt,Treatment,Strain
14274,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,3,0,3,0.000000,1.000000,0.000000,21.000000,C,1
14275,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,9,0,4,0.000000,1.000000,0.000000,11.000000,C,1
14276,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,16,5,0,0.555556,0.000000,0.000000,11.000000,C,1
14277,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,7,0,4,0.000000,1.000000,0.000000,34.000000,C,1
14278,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,9,2,4,0.333333,0.666667,28.000000,13.500000,C,1
14279,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,5,1,2,0.333333,0.666667,38.000000,21.500000,C,1
33966,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,2
33967,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,6,1,3,0.250000,0.750000,39.000000,20.333333,C,2
33968,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,6,1,3,0.250000,0.750000,38.000000,33.000000,C,2
33969,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,5,1,2,0.333333,0.666667,38.000000,21.500000,C,2
33970,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,6,1,3,0.250000,0.750000,38.000000,20.333333,C,2
33971,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,9,0,4,0.000000,0.666667,0.000000,29.500000,C,2
52548,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,3,0,2,0.000000,1.000000,0.000000,19.500000,C,3
52549,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,27,3,14,0.176471,0.823529,36.000000,22.285714,C,3
52550,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,14,3,6,0.333333,0.666667,22.000000,19.333333,C,3
52551,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,7,2,3,0.400000,0.600000,38.000000,16.333333,C,3
52552,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,2,0,2,0.000000,1.000000,0.000000,32.500000,C,3
52553,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,6,2,3,0.400000,0.600000,38.500000,29.000000,C,3
74046,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,4
74047,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,11,2,3,0.400000,0.600000,38.000000,20.333333,C,4
74048,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,4
74049,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,14,5,4,0.555556,0.444444,36.800000,27.750000,C,4
74050,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,7,1,2,0.333333,0.666667,39.000000,33.000000,C,4
74051,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,4
93900,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,3,0,2,0.000000,1.000000,0.000000,24.500000,C,5
93901,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,4,0,2,0.000000,1.000000,0.000000,31.500000,C,5
93902,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,9,0,4,0.000000,1.000000,0.000000,18.000000,C,5
93903,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,12,4,7,0.363636,0.636364,36.000000,22.714286,C,5
93904,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,C,5
93905,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,11,2,6,0.250000,0.750000,38.500000,17.166667,C,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303522,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,6
303523,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,6
303524,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,6
303525,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,6
303526,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,7,1,2,0.333333,0.666667,39.000000,26.000000,H,6
303527,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,6
323628,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,4,0,3,0.000000,1.000000,0.000000,5.333333,H,7
323629,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,12,4,5,0.444444,0.555556,37.000000,22.600000,H,7
323630,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,6,1,3,0.250000,0.750000,39.000000,20.333333,H,7
323631,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,6,2,2,0.500000,0.500000,38.000000,32.000000,H,7
323632,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,7
323633,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,6,0,2,0.000000,1.000000,0.000000,24.500000,H,7
344754,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,8
344755,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,8
344756,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,7,2,2,0.500000,0.500000,31.500000,19.500000,H,8
344757,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,8
344758,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,8
344759,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,8
364302,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,NaN,NaN,0,NaN,0.000000,NaN,NaN,H,9
364303,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,9,3,0,0.600000,0.000000,0.000000,15.500000,H,9
364304,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,24,7,8,0.466667,0.533333,37.142857,18.750000,H,9
364305,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,7,0,4,0.000000,1.000000,0.000000,30.500000,H,9
364306,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,5,1,2,0.333333,0.666667,38.000000,37.000000,H,9
364307,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,5,2,3,0.400000,0.600000,38.500000,33.333333,H,9
382866,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,1,CTTTTTTTTTTTTTTTTTTTA,1,6,2,2,0.500000,0.500000,38.000000,26.000000,H,10
382867,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,3,CTTTTTTTTTTTTTTTTTTTA,1,27,5,13,0.277778,0.722222,37.200000,18.769231,H,10
382868,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,5,CTTTTTTTTTTTTTTTTTTTA,1,13,0,5,0.000000,1.000000,0.000000,13.800000,H,10
382869,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,7,CTTTTTTTTTTTTTTTTTTTA,1,11,2,6,0.250000,0.750000,37.000000,30.666667,H,10
382870,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,9,CTTTTTTTTTTTTTTTTTTTA,1,9,2,3,0.400000,0.600000,37.500000,29.333333,H,10
382871,XIII,918120,CTTTTTTTTTTTTTTTTTTTTA,12,CTTTTTTTTTTTTTTTTTTTA,1,6,3,3,0.500000,0.500000,38.333333,17.666667,H,10

## Filter out high frequency sequencing errors and fixed mutations

In [102]:
#remove all other fixed alleles and high frequency sequencing errors
fixed_removed = filtered_variants.groupby(('Chromosome','Position','Alt')).filter(lambda x: (x['Freq_alt'].sum()<=40) | (len(x)!=120))
after_filter2 = fixed_removed.shape[0]/6
print('There are %d alleles, %d removed by filter alleles' %(after_filter2, after_filter1-after_filter2))

fixed_removed.to_csv('/Users/chrisgraves/Documents/Yeast_data/Sequencing/saved_dfs/combined_filtered.csv',index=False)

There are 53765 alleles, 140 removed by filter alleles

## Conclusions
- All alleles found at high frequency at all time-points are observed in all experimental samples and parent. Discrepencies appear consistent with seqeuncing errors causing artificially low frequencies in samples with low coverage.
- Even thresholding with relatively low values to define fixed alleles results in alleles that are present at high frequencies in all strains and can therefore be confidentally labeled as fixed.
- Alleles identified at intermediate freqeuncies tend to fall into repeat regions or for other reasons look like high frequency sequencing errors